# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc
__py*

secret.txt
*.webp
*.jpeg
*.jpg

# PyInstaller, build
*.manifest
*.spec
build
spec
*.cover
*.py.cover

*.log

# Environments
.env
.venv

# Config
config.json
config copy.json
miviva.json
paarmann-tech.json
